data/covost2_mfa.tz filter=lfs diff=lfs merge=lfs -text
data/test/subset2/subset2.tgz filter=lfs diff=lfs merge=lfs -text
data/test/subset1/subset1.tgz filter=lfs diff=lfs merge=lfs -text
models/sockeye/trained_baselines/baseline_*/model/params.* filter=lfs diff=lfs merge=lfs -text
models/phoneme_to_grapheme/params.00048 filter=lfs diff=lfs merge=lfs -text
